:root{
  --mainBrown:#ac887b;
  --mainEggshell:#fafafa;
  --mainPeach:#ddbfaf;
  --mainDark:#232528;
  --mainWhite: #ffffff;
  --mainGrey: #f3f3f3;
  --mainDarkBrown:#8f6458; 
  --mainTan: #f7f2eb; 
  --darkGrey: #494949;
  --regularGrey: #cecece;
}
body{
  font-family: 'Lora', serif;
  background: var(--mainEggshell) !important;
  color: var(--mainDark) !important;
}
.text{
  font-family: 'Lora', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-dark{
  color: var(--mainDarkBrown)
}

.text-bright{
  color: var(--mainEggshell)
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.3rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainPeach) !important; 
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainDarkBrown);
}